{% extends "_global/index.html" %}

{% block naslov %}
Programi
{% endblock %}

{% block main %}
{% apply spaceless %}
<nav>

    <h2>Spisak programa za izabrani dan:</h2>

        {% for program in programi %}
            {% if program.aktivan %}
            <div class="termini list-group">
                <a  class="list-group-item list-group-item-action"
                    href="{{ BASE }}program/{{ program.program_id }}/dan/{{ program.dan_id }}">
                    {{ program.ime|escape|title }}
                </a>
            </div>
            {% endif %}
        {% endfor %}


</nav>
{% endapply %}
{% endblock %}