{% extends "_global/index.html" %}

{% block naslov %}
Termini
{% endblock %}

{% block main %}
{% apply spaceless %}
<nav>

    <h2>Spisak termina za izabrani program:</h2>

        {% for program in termini %}
        <div class="termini list-group">
            <!--<div class="col-12 col-md-2"></div>-->
                <a  class="list-group-item list-group-item-action"
                    href="{{ BASE }}dan/{{ program.dan_id }}/program/{{ program.program_id }}/termin/{{ program.termin_id }}">
                    Termin: {{ program.termin_id|escape|title }}-{{ program.termin_id+1|escape|title }}h
                </a>
            
        </div>
        {% endfor %}

</nav>
{% endapply %}
{% endblock %}