{% extends "_global/index.html" %}

{% block naslov %}
Programi
{% endblock %}

{% block main %}
{% apply spaceless %}
<nav>

    <h2>Izaberite program:</h2>

        {% for program in programi %}
        <div class="termini list-group">
            <a  class="list-group-item list-group-item-action" 
                href="{{ BASE }}program/{{ program.program_id }}">
                {{ program.ime|escape|title }}
            </a>
        </div>
        {% endfor %}

</nav>
{% endapply %}
{% endblock %}