{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="options">
        <a href="{{ BASE }}user/zakazi/">Spisak svih termina</a>
    </div>

    <div class="programi">
        <ul>
            {% for program in programi %}
            <li>
                <a href="{{ BASE }}user/zakazi/program/{{ program.program_id }}">
                    {{ program.ime|escape }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}